.wrapper {
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0 100px 0 100px;
    justify-content: space-around;
    align-content: center;
    overflow: auto;
  }

.row {
  background: #ECEFF1;
  padding: 20px;
}