.card {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    margin: .5rem;
    position: relative;
    width: 150px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    text-align: center;
    overflow: hidden;
  }

  .card:hover {
    background-color: #00ffc5;

  }
  .card > .img-container > img {
    width: 104%;
    height: 108%;
    border-radius: 5px;
    position: relative;
  }
